body {
	background-color: #3399ff;
	text-align: center;
}

h1, h2 {
	font-family: 'Rokkitt', serif;
	color: #99ff33;
	font-size: 132pt;
	margin: 0;
}

p {
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}