body {
	background-color: #39f;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#logo {
	font-family: 'Rokkitt', serif;
	color: #3f3;
	font-size: 116p;
	margin: 0;
	text-decoration: none;
}

p {
	color: #fff;
}

a {color: #3ff;}
h2 a {color: #3ff !important;}
a:visited {color: #93f;}