body {
	background-color: #39f;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

#logo {
	font-family: 'Rokkitt', serif;
	color: #3f3;
	font-size: 116pt;
	margin: 0;
	text-decoration: none;
}

p {
	color: #fff;
}

a {
	color: #f93;
}